.tile {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: lightslategrey;
  font-weight: bold;
}
.tile.clickable {
  cursor: pointer;
}
.tile.clickable:hover {
  background: orange !important;
}
.tile p {
  pointer-events: none;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.tile p.unit-white {
  background: white;
  color: black;
}
.tile p.unit-black {
  background: black;
  color: white;
}
.row:nth-child(2n) .tile:nth-child(2n),
.row:nth-child(2n - 1) .tile:nth-child(2n - 1) {
  background: darkslateblue;
}
.tile.highlighted {
  opacity: 0.35;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -99;
  pointer-events: none;
}
