* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tile {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(108, 108, 108);
  font-weight: bold;
  position: relative;
  padding: 10px;
}
.tile.clickable {
  cursor: pointer;
  transition: padding 0.3s;
}
.tile.selected {
  cursor: pointer;
  padding: 0px;
  border-radius: 0px;
}
.tile.clickable:hover p,
.tile.selected p {
  background: lightskyblue !important;
}
.tile.selected p {
  border-radius: 0px;
}
.tile.clickable p {
  transition: border-radius 0.3s, background 0.3s;
}
.tile p {
  width: 100%;
  height: 100%;
  pointer-events: none;
  flex: 1;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.tile p.unit-white {
  background: white;
  color: rgb(40, 40, 40);
}
.tile p.unit-black {
  background: rgb(4, 4, 4);
  color: white;
}
.row:nth-child(2n) > div:nth-child(2n) .tile,
.row:nth-child(2n - 1) > div:nth-child(2n - 1) .tile {
  background: rgb(88, 88, 88);
}
.tile.highlighted {
  position: relative;
  cursor: pointer;
}
.tile::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border-radius: 50%;
  background: skyblue;
  transition: opacity 0.3s, transform 0.3s, background 0.3s;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.2);
}
.tile.highlighted::after {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
}
.tile.highlighted:hover::after {
  background-color: lightcoral;
  transform: scale(1.5);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -99;
  pointer-events: none;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-weight: bold;
  padding: 10px;
  background: mediumpurple;
  color: white;
}
.info p {
  padding: 0;
  margin: 0;
}
.optionsMenu {
  padding: 10px;
  padding-left: 20px;
  width: 400px;
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.optionsMenu button {
  cursor: pointer;
  background: none;
  border: 0px;
  outline: none;
  padding: 5px;
  margin-right: 10px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.2s;
}
.optionsMenu button:hover {
  background-color: aquamarine;
}
.grid {
  position: relative;
}
.gridOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.gridOverlay.disabled {
  opacity: 1;
  pointer-events: auto;
}
.gridOverlay p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: darkslateblue;
}
