* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tile {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(108, 108, 108);
  font-weight: bold;
  position: relative;
  padding: 10px;
}
.tile.clickable {
  cursor: pointer;
  transition: padding 0.3s;
}
.tile.selected {
  cursor: pointer;
  padding: 0px;
  border-radius: 0px;
}
.tile.clickable:hover p,
.tile.selected p {
  background: lightcoral !important;
}
.tile.selected p {
  border-radius: 0px;
}
.tile.clickable p {
  transition: border-radius 0.3s, background 0.3s;
}
.tile p {
  width: 100%;
  height: 100%;
  pointer-events: none;
  flex: 1;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.tile p.unit-white {
  background: white;
  color: rgb(40, 40, 40);
}
.tile p.unit-black {
  background: rgb(4, 4, 4);
  color: white;
}
.row:nth-child(2n) > div:nth-child(2n) .tile,
.row:nth-child(2n - 1) > div:nth-child(2n - 1) .tile {
  background: rgb(88, 88, 88);
}
.tile.highlighted {
  position: relative;
  cursor: pointer;
}
.tile.highlighted:hover::after {
  cursor: pointer;
  background-color: aliceblue;
}
.tile.highlighted::after {
  content: '';
  position: absolute;
  top: 18px;
  left: 18px;
  width: calc(100% - 36px);
  height: calc(100% - 36px);
  border-radius: 50%;
  background: lightcoral;
  animation: pop-in 0.3s;
  transition: background 0.3s;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -99;
  pointer-events: none;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-weight: bold;
  padding: 10px;
  background: mediumpurple;
  color: white;
}
.info p {
  padding: 0;
  margin: 0;
}
